<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
</head>
<body>
  <center>
    <h2>Add a User Page</h2>
    <form method="POST" action="/user">
      <table>
        <tr>
          <td><label for="user">Username : </label></td>
          <td><input type="text" name="username" id="user"/></td>
        </tr>
        <tr>
          <td><label for="email">Email : </label></td>
          <td><input type="email" name="email" id="email"/></td>
        </tr>
        <tr>
          <td><label for="password">Password :</label></td>
          <td><input type="password" name="password" id="password"/></td>
        </tr>
      </table>
      <br>
      <button style="background-color: greenyellow;">Add User</button>
    </form>
  </center>
</body>
</html>